body {
  text-align: center;
  font-family: sans-serif;
  background: #000000;
}

canvas {
  border: 2px solid #ffffff;
  background: rgb(0, 0, 0);
  margin: 20px auto;
  display: block;
  cursor: crosshair;
}


#result {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}
#high-score {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
  color: #ebebeb;
}

